/kosinski_VTipper/build/
/kosinski_VTipper/dist/
/kosinski_InClass5/nbproject/private/
/kosinski_InClass5/build/
/kosinski_InClass5/dist/
/kosinski_PracticeObjects/nbproject/private/
/kosinski_PracticeObjects/build/
/kosinski_PracticeObjects/dist/
/kosinski_InsertFunApp/nbproject/private/
/kosinski_InsertFunApp/build/
/kosinski_InsertFunApp/dist/